#!/usr/bin/env bash

set -euo pipefail

# Brewfile hash: {{ include ".AptPackages" | sha256sum }}
sudo apt-get update
packages=$(cat {{ joinPath .chezmoi.sourceDir ".AptPackages" | quote }})
sudo apt-get install -y $packages
