#!/usr/bin/env bash

set -euo pipefail

export DEBIAN_FRONTEND=noninteractive 
# Brewfile hash: {{ include ".AptPackages" | sha256sum }}
sudo apt-get update
packages=$(cat {{ joinPath .chezmoi.sourceDir ".AptPackages" | quote }})
sudo --preserve-env=DEBIAN_FRONTEND apt-get install -y $packages
