#!/usr/bin/env bash

# make sure path is current
source ~/.zshrc

# Brewfile hash: {{ include ".Brewfile" | sha256sum }}
export NONINTERACTIVE=1
unset HOMEBREW_CASK_OPTS
brew bundle --verbose --file $(chezmoi source-path)/.Brewfile
